/* CSS Reset  */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
     height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px ;
}

#logo img{
     height: 59px;
     margin: 3px 6px;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'IBM Plex Serif', serif;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white; 
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black; 
    background-color: white;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 725px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89; 
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Unbounded', cursive;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Services Section  */
#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    background-color: rgb(249, 218, 207);
    padding: 34px;
    margin: 3px 6px;
    border-radius: 20px;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

/* Client Section */
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg');
    height: 40%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
} 

#clients{
display: flex;
justify-content: center;
align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

/* Contact Section */
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#conatct-box label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes  */
.h-primary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3.4rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(226, 176, 167);
    color: rgba(30, 29, 29, 0.418);
}

.center{
    text-align: center;
} 